/* ===== MY CSS ===== */
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #4d4d4d;
    margin: 0 auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.875rem; /* 30px */
    text-decoration: none;
}

p {
    font-size: 0.875rem; /* 14px */
    line-height: 1.75;
    margin: 0 0 1.5rem 0;
}

.page {
    margin: 0 auto;
    max-width: 960px;
}

.masthead {
    display: block;
    text-align: center;
    padding: 3rem 0 1.25rem 0;
    /* border-bottom: 1px solid #4d4d4d; */
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 0 0 0.75rem 0;
}

.name {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0 1rem 0;
    margin: 0 auto;
    width: 100%;
    letter-spacing: .02rem;
    text-align: center;
}

.name a:hover {
    color: #39464d;
}

.navmain {
    list-style-type: none;
    margin: 0
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;
}

.navmain a {
    text-decoration: none;
    color: #39464d;
    display: block;
    padding: 1rem;
}

.navmain a:hover {
    color: #01d1ff;
}

.navmain li {
    display: inline-block;
    margin-left: 1rem;
}

.navmain li:first-child {
    margin-left: 0;
}

.dropdown {
    position: relative;
}

.dropdown:after {
    content: "\25BC";
    font-size: 0.5rem;
    display: block;
    position: absolute;
    top: 44%;
    right: 1%;
    text-align: center;
}

.dropnav {
    position: absolute;
    display: none;
    background: #01d1ff;
    color: #fff;
    text-align: center;
}

.dropnav li {
    border-bottom: 1 px solid #fff;
    color: #fff;
    margin: auto;
}

.dropdown:hover > .dropnav {
    display: block;
    color: #fff;
}

.dropnav a {
    color: #fff;
}

.dropnav a:hover {
    color: #39464d;
}

a {
    text-decoration: none;
    color: #39464d;
}

a:hover {
    color: #01d1ff;
}

.brightlink {
    text-decoration: none;
    color: #01d1ff;
}

.navmain .currentpage {
    color: #01d1ff;
}

.currentpage {
    color: #01d1ff;
}

.navmain .currentpage:hover {
    color: #01d1ff;
}

.active {
  color: #01d1ff;
}

.divide {
  border-top: 1px solid #dadada;
  width: 100%;
  margin-top: 3.75rem;
  margin-bottom: 1rem;
  padding: 1.875rem 0 1.875rem 0;
}

/* ===== MEDIA QUERIES ===== */

/*@media all and (max-width: 800px) {
.navmain {
    justify-content: space-around;
}

.footer {
    justify-content: space-around;
}
}*/

@media all and (max-width: 640px) {
.navmain {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    text-align: center;
  }

.navmain li {
    display: inline-block;
    margin-left: 0;
}
.thumbnail {
    text-align: center;
    margin: 0.25rem 0 0.25rem 0;
    }

.footer {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 1rem;
    text-align: center;
    }

.navmain a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

.navmain li:last-of-type a {
    border-bottom: none;
  }
}

/* ----- end MEDIA QUERIES ----- */

.indexmain {
    width: 100%;
    margin: 0 auto;
    padding: 3.875rem 0 0 0;
}

.imagemain {
    max-width: 100%;
}

.footer {
    list-style-type: none;
    margin: 0
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;

    border-top: 1px solid #dadada;
    width: 100%;
    margin-top: 3.75rem;
    margin-bottom: 1rem;
    padding: 1.875rem 0 1.875rem 0;
}



/* ===== ABOUT PAGE ===== */

.section.two-up {
    display: flex;
    flex-direction: column;
    padding: 3.875rem 0 0 0;
}

@media (min-width: 960px) {
   .section.two-up {
     flex-direction: row;
     max-width: 960px;
     margin: auto;
  }
}

img {
    max-width: 100%;
}

.section.two-up .image,
.section.two-up .article {
    padding: 20px;
}

button {
    margin: 2rem auto 0 auto;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* width: 13.75rem;
    height: 3.125rem; */
    background-color: #39464d;
    color: #fff;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

button:hover {
    background-color: rgba(0, 209, 255, 1);
    color: #fff;
}

button a {
  color: #fff;
}

button a:hover {
  color: #fff;
}

.script {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}

/* ===== PORTFOLIO PAGE ===== */

.mainportfolio {
    margin: 0 auto;
    padding: 3.875rem 0 0 0;
    text-align: center;
}

.portfolio {
    -moz-column-width: 18.75em;
    -webkit-column-width: 18.75em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    margin: 0 auto;
    width: 100%;
}

.thumbnail {
    display: inline-block;
    padding: 0 0 4rem 0;
    width:  100%;
}

/* ===== RESUME PAGE ===== */

.resume-page {
    border: 1px solid #39464d;
    box-shadow: 0px 0px 1px #4d4d4d;
    box-sizing: border-box;
    background-color: #fff;
    padding: 1em 4em;
    line-height: 1.75;
}

.resume-pdf {
    background-color: rgba(0, 209, 255, 1);
	box-shadow: 0px 0px 1px #4d4d4d;
	padding: 0.25rem;
	border: 1px solid #39464d;
	text-align: center;
	font-size: 1rem;
	color: #fff;
	letter-spacing: 0.1rem;
	margin: 3.875rem 0 2rem 0;
	box-sizing: border-box;
}

.center-text {
    text-align: center;
}

.float-right {
    float: right;
}

.two-column {
    -moz-column-width: 29rem;
    -webkit-column-width: 29rem;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    line-height: 1.25;
}

.single-space li {
    padding: 1rem 0 0 0.5rem;
    list-style-type: disc;
    margin: 0 3rem 0 3rem;
    font-size: 0.875rem; /* 14px */
    line-height: 1.75;
}

.single-space li:last-child {
    padding: 1rem 0 1.5rem 0.5rem;
    list-style-type: disc;
    margin: 0 3rem 0 3rem;
    font-size: 0.875rem; /* 14px */
}

h2 {
    font-weight: 700;
    font-size: 1.25rem;
}

h3 {
    font-weight: 600;
}

.resume-header {
    padding: 0 0 1rem 0;
}

.resume-edu-space {
    padding: 0 0 1rem 0;
}

.italics {
    font-style: italic;
}

/* ===== WEBSITE PAGE ===== */

.websites-col {
    -moz-column-width: 25rem; /*25rem*/
    -webkit-column-width: 25rem; /*25rem*/
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    margin: 0 auto;
    width: 100%;
}

.website-sec {
    display: inline-block;
    padding: 0 0 4rem 0;
    width:  100%;
}

/* ===== WEBSITE PRESENTATION PAGES ===== */

/*.three-column {
    -moz-column-width: 18.75em;
    -webkit-column-width: 18.75em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    margin: 0 auto;
    width: 100%;
}*/

/*.three-column:first-child {
    -webkit-column-span: 2;
    column-span: 2;
}*/

.add-margin {
    padding: 3.875rem 0 0 0;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-right: 2rem;
}

.col-one {
    width: 42%;
    padding-right: 2rem;
}

.col-two {
    width: 22%;
}

.col-two p {
    margin: 0;
}

.col-two-copy {
    width: 22%;
}

.col-two-copy p {
    margin: 0 0 1.5rem 0;
}

.reduced-margin p {
    margin: 0 0 0.75rem 0;
}

.col-three {
    width: 22%;
}

.three-column h3 {
    padding: 0 0 1.25rem 0;
    margin: 0 0 1.75rem 0;
    border-bottom: 1px solid #dadada;
}

.banner-one {

}

.banner-two {

}

.nopad {
    margin: 0;
    font-size: 0.625rem;
}

/* ===== CONTACT PAGE ===== */

form {
  padding: 20px;
  margin: 0 auto;
}

input[type=text] {
    width: 95%;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=email] {
    width: 95%;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 95%;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 95%;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #39464d;
    color: #ffffff;
}

input[type=submit]:hover {
    background-color: #01d1ff;
}

/* ===== SITEMAP ===== */

.indent {
    padding-left: 2.5rem;
}

.indent-two {
    padding-left: 5rem;
}



/* ===== GLOBAL ELEMENTS ===== */

.future {
    text-align: center;
    padding: 3.75rem 0 0 0;
}
