<!-- ===== START MAIN ===== -->

<main>
<section class="section two-up">
<img class="image" src="images/gretchen.jpg" width="320" />
<article class="article">

    <p class="center-text script">Let's work together!</p>
    <p>I'm Gretchen and I live and work in Manhattan, NYC. My professional background is in marketing, but I recently wrapped up a Web Design Diploma program through the Art Institute of Pittburgh - Online Division and I'm ready to take on all kinds of new projects. I've spent the last two years amping up my digital skills so I can take your business or creative idea to the next level.</p>

    <p>Thanks for stopping by, take a look in the "Work" tab to see some of my favorite projects. You can also view my resume below!</p>

    <button><a href="resume.html">VIEW MY RESUME</a></button>

</article>
</section>
</main>

<!-- end main -->
